python-telegram-bot==12.7
pytube3 @ git+https://gitlab.com/obuilds/public/pytube@10c57109f87fe864d8f38bbc8
requests==2.23.0
urllib3==1.25.9
youtube-search==0.1.3
googletrans==2.4.0
gTTS==2.1.1
gTTS-token==1.1.3